# dependencies
/node_modules

# next.js build output
/.next/
/out/

# environment variables
.env*
!.env.example

# logs
*.log

# system files
.DS_Store
Thumbs.db

# typescript cache
*.tsbuildinfo
.vercel
